{% extends 'base.html.twig' %}

{% block title %} Tasks {% endblock %}
{% block stylesheets %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'shared/navigation.html.twig' %}
    <main role="main" class="container">
        <div class="d-flex justify-content-center border-bottom mb-3">
            <div class="my-4">
                <h1>List of tasks</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card-deck">
                {% if tasks is empty %}
                    <div class="alert alert-info">
                        <lead>There're no tasks defined yet!</lead>
                    </div>
                {% else %}
                    {% for task in tasks %}
                        <div class="card">
                                {% if task.finished %}
                                    <div class="card-header bg-secondary text-white font-weight-bold">Task finished</div>
                                {% elseif task.started %}
                                    <div class="card-header bg-success text-white font-weight-bold">Task started</div>
                                {% else %}
                                    <div class="card-header bg-dark text-white font-weight-bold">Task not started</div>
                                {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><img class="img img-fluid rounded-circle" width="40px"
                                                            alt="User picture"
                                                            src="{{ task.creator.picture }}"/> {{ task.creator.name }}
                                </h5>
                                <p class="card-text">
                                    <span class="lead text-bold">Goals</span>
                                    <ul class="list-group">
                                        {% for goal in task.goals %}
                                        <li class="list-group-item">
                                            <p class="lead">{{ goal.name }}</p>
                                            <hr>
                                            <p class="text-break">
                                                {{ goal.realizationDescription }}
                                            </p>
                                            {% if goal.isFinished %}
                                                <div class="font-weight-bold text-success">✓</div>
                                            {% else %}
                                                <div class="font-weight-bold text-danger">✗</div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </p>
                                {% if task.workers is empty %}
                                    <button class="btn btn-dark js-participate-in-task" type="button"
                                            data-task-participate-url="{{ absolute_url(path('task_participate', {'taskId':task.id})) }}">
                                        Participate in task
                                    </button>
                                {% endif %}
                                {% for worker in task.workers %}
                                    {% if worker.id != app.user.id %}
                                        <button class="btn btn-dark js-participate-in-task" type="button"
                                                data-task-participate-url="{{ absolute_url(path('task_participate', {'taskId':task.id})) }}">
                                            Participate in task
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <h6 class="text-muted">Start: {{ task.startDate|date('Y-m-d') }}</h6>
                                <h6 class="text-muted">End: {{ task.endDate|date('Y-m-d') }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            let participateInTaskBtn = $(".js-participate-in-task");

            participateInTaskBtn.on('click', function () {
                let taskParticipateUrl = $(this).data('task-participate-url');

                let taskRequest = $.ajax({
                    type: 'GET',
                    url: taskParticipateUrl,
                });

                taskRequest.done(function (data) {
                    alert("You have joined a task as a worker");
                    location.reload();
                });

                taskRequest.fail(function (response) {
                    alert('Something went wrong:' + response.responseText);
                });

                return false;
            });
        });
    </script>
{% endblock %}
